@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.p {
    width: 100px;
    height: 100px;
}

.age {
    display: flex;
    justify-content: center;



}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
}

#productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.productCard {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.image {
    width: 200px;
    height: 250px;
}

.warped-text {
    position: absolute;
    top: 0%;
    left: 70%;
    top: 20px;
    background-color: #f0f0f0;
    transform: translate(-50%, -50%);
    font-size: 8px;
    border-radius: 4px;

}

.image-container {
    position: relative;
    display: inline-block;
}

.compare-at-price {
    text-decoration: line-through;
}

.discount {
    color: red;
}

.gridLayout .productCard {
    width: 100px;
}

.btn {
    sty
}

@media screen and (max-width: 767px) {
    /* Styles for mobile screens */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablet screens */
}

@media screen and (min-width: 1025px) {
    /* Styles for desktop screens */
}

.addToCartButton {
    /* Default button style */
}

/* Button style for the clicked button */
.addToCartButton.clicked {
    background-color: lightblue;

    color: white;
}

.price {
    font-weight: bold;
}

.website {}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
}

.button:active {
    transform: scale(0.97);
}

.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
}

.button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

@keyframes effect {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}